body {
  padding-top: 50px;
}

.register_form_div{
  padding: 20px;
  width: 40%;
  min-width: 400px;
  height: 450px;
  position: relative;
  margin-left: -40px;
}

.register_form_div input{
  float: left;
  position: relative;
  margin: 10px;
}


.register_form_div label{
  width: 200px;
  float: left;
  position: relative;
  margin: 10px;
}

.register_form_div button{
  float: left;
  margin: 10px;
  position: relative;
}
